{% extends 'base.html' %}

{% block content %}
<div class="container">
    <br>
    <p>Make a Plan!</p>
    <br>
    <form method='POST'>
    
        {{form.hidden_tag()}}
    
    
        <div class="input-group">
            <span class="input-group-text">{{form.task.label}}</span>
            {{form.task(class='form-control' )}}
        </div>
        <br>
        <div class="input-group">
            <span class="input-group-text">{{form.period.label}}</span>
            {{form.period(class='form-control' )}}
        </div>
        <br>
        <div class="input-group">
            <span class="input-group-text">{{form.status.label}}</span>
            {{form.status(class='form-control' )}}
        </div>
        <br>
    
        {{form.submit}}
    
    </form>

</div>
{% endblock %}
